*{
    background-color:black;
}

.navbody {
    background-color:#1e1e1e;
    height: 75px;
    width: 100%;
    filter:drop-shadow(0 0 15px rgba(255,255,255,0.1))
}
.navheading{
    color: white;
    font-family: 'MostWasted';
    font-size:32px;
    margin-right: 2rem;
    margin-right: 0;
    word-wrap: none;
    text-decoration: none;
}